form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#btnL{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    content: "Log";
}

#btnL[type=submit]:hover {
    opacity: 0.8;
}

.forget{
    text-align: left;
    padding: 10px 0;
}
